h1 {
	text-align: center;
	text-decoration: underline;
	color: green;
	font-size: 5em;
}

body {
	background-color: beige;
}

div {
	font-size: 3em;
	color: red;
}

.animate {
	font: arial;
	font-weight: bold;
}

p {
	text-align: center;
	font-size: 2em;
	color: blue;
}

.page-click {
	color: green;
	text-align: center;
	font-style: italic;
	font-family: courier;
	opacity: 0.3;
	font-size: 3.5em;
	/*margin-bottom: 1em;*/
	margin: 1em;
}